* {

    box-sizing: border-box;
    
    }
    
    body {
    
    margin: 0;
    
    }
    
    h1,
    
    h2,
    
    h3,
    
    P
    
    ul,
    
    hr {
    
    margin-top: 0;
    
    margin-bottom: 0;
    
    }
    
    ul {
    
    list-style: none;
    
    padding-left: 0;
    
    }
    
    img {
    
    display: block;
    
    width: 100%;
    
    }
    
    input,
    
    button {
    
    font-family: inherit;
    
    }
    
    button {
    
    cursor: pointer;
    
    }